# Environement variables
NODE_ENV = # exemple : NODE_ENV=development ou NODE_ENV=production
UPLOADE_SERVICE= # exemple : UPLOAD_SERVICE=Local

# JWT secret key
JWT_SECRET= #Inserer votre JWT SECRET

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME= #Inserer Cloudinary Cloud_name
CLOUDINARY_API_KEY= #Inserer Cloundinary API_KEY
CLOUDINARY_API_SECRET= #Inserer Cloundinary API_SECRET
