# Environement variables
NODE_ENV = # exemple : NODE_ENV=development ou NODE_ENV=production

# Port à écouter API Backend
LISTEN_PORT=3001

# Configuration de la base de donnée
DB_USERNAME= 
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_DIALECT=

# Upload service
UPLOAD_SERVICE= # exemple : UPLOAD_SERVICE=Local

# Cors origin Url
CORS_ORIGIN_URL=

# JWT secret key
JWT_SECRET= #Inserer votre JWT SECRET

# Cloudinary configuration
CLOUDINARY_CLOUD_NAME= #Inserer Cloudinary Cloud_name
CLOUDINARY_API_KEY= #Inserer Cloundinary API_KEY
CLOUDINARY_API_SECRET= #Inserer Cloundinary API_SECRET

# Clé de l'API RESEND
RESEND_API_KEY= #Inserer voitre API key
